<h1>Login to Pilot Log</h1>

<form action="/login" method="POST">
  <label>User Name </label><input type="text" name="username" name="username">
  <label>Password </label><input type="password" name="password" name="password">
  <input type="submit" value="Log In" id="submit">
</form>
