<h1>Pilot Logger Sign Up</h1>
<form action="/signup" method="POST">
  <p>Email</p><input type="text" name="email" value="email"><br>
  <p>User Name</p><input type="text" name="username" value="username"><br>
  <p>Password</p><input type="password" name="password" value="password">

  <input type="submit" value="Sign Up">
</form>
